# Solar ETL: Extract, Transform, Load

## Initial Imports

In [1]:
# Import Dependencies
import requests
import pandas as pd
import json
import numpy as np
import datetime
# from datetime import datetime, timedelta

In [2]:
# Import API Key
from config import key

# To create an API key, visit the site below:
#https://www.worldweatheronline.com/developer/my/analytics.aspx?key_id=222419

# Extracting the Solar Weather Data

## Define the Functions

In [3]:
def makeARequest(location, startDate, endDate, yourAPIKey):
    '''
    Make a request to the worldweatheronline local history weather API page.
    '''
    # Documentation on how to make an API Request using World Weather Online:
    # https://www.worldweatheronline.com/developer/api/docs/local-city-town-weather-api.aspx

    baseURL = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
    timeInterval = "1" # Specifies the time interval in hours
    outputFormatToReturn = "json" # The output format to return

    # Add request parameters to base URL
    requestURL = f"{baseURL}?q={location}&date={startDate}&enddate={endDate}&tp={timeInterval}&format={outputFormatToReturn}&key={yourAPIKey}"
    
    # Get the webpage using the requests library and requestURL
    response = requests.get(requestURL)

    # If status response code indicates that the request has succeeded
    if response.status_code == 200:
        # Turn the response into a JSON object
        responseJson = response.json()
        return responseJson
    else:
        # Else, print the Error status code 
        return print(response.status_code)

In [5]:
def monthlyHistoricalSolarDF(firstDayOfMonth, lastDayOfMonth, jsonResponse):
    ''' 
    Pull solar weather variables from the response JSON and turn into Pandas DataFrame. 
    '''
    # Create a datetime object from the firstDayOfMonth and lastDayOfMonth input strings
    first = datetime.datetime.strptime(firstDayOfMonth, '%Y-%m-%d')
    last = datetime.datetime.strptime(lastDayOfMonth, '%Y-%m-%d')
    # Subtract the fist day from the last day of each month 
    numberOfDays = last.day - first.day

    # Initiate the HourlyHistoricalWeather list
    HourlyHistoricalWeather = []
    
    # For each day of the month
    for day in np.arange(0,numberOfDays + 1,1):
        # and each hour of each day
        for hour in np.arange(0,24,1):
            # append the solar weather variables to the HourlyHistoricalWeather list 
            HourlyHistoricalWeather.append({
                "Date" : jsonResponse["data"]["weather"][day]["date"],
                "Time" : jsonResponse["data"]["weather"][day]["hourly"][hour]["time"],
                "Weather_Description" : jsonResponse["data"]["weather"][day]["hourly"][hour]["weatherDesc"][0]["value"],
                "Temperature_F" : jsonResponse["data"]["weather"][day]["hourly"][hour]["tempF"],
                "Sunhour" : jsonResponse["data"]["weather"][day]["sunHour"],
                "CloudCover_percent" : jsonResponse["data"]["weather"][day]["hourly"][hour]["cloudcover"],
                "uvIndex" : jsonResponse["data"]["weather"][day]["hourly"][hour]["uvIndex"],
                "Humidity_percent" : jsonResponse["data"]["weather"][day]["hourly"][hour]["humidity"]
            })

    # Store the solar weather variables in a Pandas DataFrame 
    weatherDataFrame = pd.DataFrame(HourlyHistoricalWeather)
    return weatherDataFrame

## Define the Webberville Solar Farm Location

In [4]:
# Define the Latitude and longitude of Webberville Solar Farm
latLong = "30.238333,-97.508611"

## API Calls for January 2017 - July 2020

In [6]:
yearList = [2017, 2018, 2019, 2020]
monthList = np.arange(1,13,1)

In [7]:
lastDayOfMonth = []

for year in yearList: 
    for month in monthList:
        if month != 12:
            date = datetime.date(year=year, month=month + 1, day=1) - datetime.timedelta(days=1)
            dateStr = date.strftime('%Y-%m-%d')
            lastDayOfMonth.append(dateStr)
        else:
            date = datetime.date(year=year, month=12, day=31)
            dateStr = date.strftime('%Y-%m-%d')
            lastDayOfMonth.append(dateStr)
        
lastDayOfMonth = lastDayOfMonth[0:43]

In [8]:
firstDayOfMonth = []

for year in yearList: 
    for month in monthList:
        date = datetime.date(year, month, 1)
        dateStr = date.strftime('%Y-%m-%d')
        firstDayOfMonth.append(dateStr)

firstDayOfMonth = firstDayOfMonth[0:43]

In [9]:
hourlyWeatherDF = pd.DataFrame()

for i in np.arange(0,43,1):
     responseJson = makeARequest(latLong, firstDayOfMonth[i], lastDayOfMonth[i], key)
     hourlyWeatherDF = hourlyWeatherDF.append([monthlyHistoricalSolarDF(firstDayOfMonth[i], lastDayOfMonth[i], responseJson)])

# hourlyWeatherDF

In [10]:
# Re-Index the DataFrame: 24 hours * 578 days 
index = np.arange(0,24*1308,1)
hourlyWeatherDF = hourlyWeatherDF.set_index(index)

# Display the DataFrame
hourlyWeatherDF

,Date,Time,Weather_Description,Temperature_F,Sunhour,CloudCover_percent,uvIndex,Humidity_percent
0,2017-01-01,0,Mist,58,8.7,11,1,95
1,2017-01-01,100,Mist,57,8.7,11,1,95
2,2017-01-01,200,Mist,56,8.7,11,1,95
3,2017-01-01,300,Mist,56,8.7,12,1,95
4,2017-01-01,400,Mist,55,8.7,13,1,89
...,...,...,...,...,...,...,...,...
31387,2020-07-31,1900,Light rain shower,88,9.8,74,1,58
31388,2020-07-31,2000,Patchy light rain with thunder,86,9.8,77,1,62
31389,2020-07-31,2100,Patchy light rain with thunder,85,9.8,80,1,66
31390,2020-07-31,2200,Patchy light rain with thunder,83,9.8,78,1,71
31391,2020-07-31,2300,Patchy rain possible,81,9.8,76,1,76

## Explore the Data

In [ ]:
# Check the Data Types
# Returns objects. 
hourlyWeatherDF.dtypes

In [11]:
# Check the Value Counts
# Returns 24 unique values for each day. This is expected since weather data is being extracted for each hour of each day. 
hourlyWeatherDF['Date'].value_counts()

2019-08-01    24
2019-06-16    24
2019-02-14    24
2019-05-03    24
2017-12-03    24
              ..
2019-02-20    24
2017-05-27    24
2019-11-25    24
2017-11-10    24
2019-01-20    24
Name: Date, Length: 1308, dtype: int64

In [12]:
# Check the Value Counts
# Returns 578 unique values for each time. This is expected since data is being extracted for 578 days (Jan 2019 - July 2020). 
hourlyWeatherDF['Time'].value_counts()

1000    1308
1500    1308
1400    1308
0       1308
900     1308
2100    1308
500     1308
400     1308
2200    1308
1600    1308
300     1308
1300    1308
600     1308
100     1308
2000    1308
2300    1308
800     1308
1100    1308
700     1308
1700    1308
1200    1308
1800    1308
200     1308
1900    1308
Name: Time, dtype: int64

# Performing Transformation on Solar Weather Data

## Define the Functions

In [13]:
def cleaningDataFrame_datetime(df):
    '''
    Clean the date and time columns and combine into a single Date_Time column.
    '''
    # Convert the Dates to a datetime object
    df['Date'] = pd.to_datetime(df['Date'])
    # Convert the Time data type to integer in order to perform mathematical operations
    df['Time'] = df['Time'].astype(int)
    # Divide the Time by 100 (which converts the data type to float) and convert data type to integer
    df['Time'] = (df['Time']/100).astype(int)
    # Convert Time to a timedelta object
    # This allows us to do simple addition arithmetic on datetimes
    df['Time'] = df['Time'].astype('timedelta64[h]')
    # Add Time to Date to create a new Date_Time column 
    # This creates a datetime object that has both date and time in the same object
    df['Date_Time'] = df['Date'] + df['Time']
    # Drop the Date and Time columns since a new Date_Time column has been created
    df = df.drop(['Date', 'Time'], 1)
    return df

In [14]:
def cleaningDataFrame_solar(df):
    '''
    Clean the data types of the weather variables. 
    '''
    # Covert Temperature data type to integer
    df['Temperature_F'] = df['Temperature_F'].astype(int)
    # Covert Sunhour data type to float
    df['Sunhour'] = df['Sunhour'].astype(float)
    # Covert CloudCover data type to integer
    df['CloudCover_percent'] = df['CloudCover_percent'].astype(int)
    # Covert uvIndex data type to integer
    df['uvIndex'] = df['uvIndex'].astype(int)
    # Convert the Humidity data type to integer
    df['Humidity_percent'] = df['Humidity_percent'].astype(int)
    return df

## Clean the Original Hourly Weather DataFrame

In [15]:
# Clean the date and time columns of the original DataFrame
hourlyWeatherDF_cleanedDateTime = cleaningDataFrame_datetime(hourlyWeatherDF)

# Display the DataFrame
hourlyWeatherDF_cleanedDateTime.head()

,Weather_Description,Temperature_F,Sunhour,CloudCover_percent,uvIndex,Humidity_percent,Date_Time
0,Mist,58,8.7,11,1,95,2017-01-01 00:00:00
1,Mist,57,8.7,11,1,95,2017-01-01 01:00:00
2,Mist,56,8.7,11,1,95,2017-01-01 02:00:00
3,Mist,56,8.7,12,1,95,2017-01-01 03:00:00
4,Mist,55,8.7,13,1,89,2017-01-01 04:00:00

In [16]:
# Clean the weather variables 
cleaned_hourlyWeatherDF = cleaningDataFrame_solar(hourlyWeatherDF_cleanedDateTime)

# Print the shape (rows, columns) of the DataFrame
print(cleaned_hourlyWeatherDF.shape)

# Display the DataFrame
cleaned_hourlyWeatherDF.head()

(31392, 7)

,Weather_Description,Temperature_F,Sunhour,CloudCover_percent,uvIndex,Humidity_percent,Date_Time
0,Mist,58,8.7,11,1,95,2017-01-01 00:00:00
1,Mist,57,8.7,11,1,95,2017-01-01 01:00:00
2,Mist,56,8.7,11,1,95,2017-01-01 02:00:00
3,Mist,56,8.7,12,1,95,2017-01-01 03:00:00
4,Mist,55,8.7,13,1,89,2017-01-01 04:00:00

In [17]:
# Check data types to make sure they are correct
cleaned_hourlyWeatherDF.dtypes

Weather_Description            object
Temperature_F                   int32
Sunhour                       float64
CloudCover_percent              int32
uvIndex                         int32
Humidity_percent                int32
Date_Time              datetime64[ns]
dtype: object

## Export the Cleaned Hourly Weather DataFrame to a CSV File

In [ ]:
# # Uncomment to output the cleaned DataFrame as a csv file
# cleaned_hourlyWeatherDF.to_csv(r'Output/Cleaned_Hourly_Solar_Weather.csv', index = False)

# Extracting and Transforming the Webberville Solar Energy Output (MWH) Data

## Define the Functions

In [18]:
def cleanRenewableFarmData(df):
    '''
    This function cleans the raw farm data.
    '''
    # Drop the Unit column
    df = df.drop('Unit', 1)
    # Convert Date into a datetime object
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
    # Convert Hour Ending data type into a string
    df['Hour Ending'] = df['Hour Ending'].astype(str)
    # Create a new column 'lastDigit' that takes the last digit from the Hour Ending column
    # lastDigit = 'D', indicates daylight saving 
    df['lastDigit'] = df['Hour Ending'].str.strip().str[-1]
    # Convert lastDigit data type into a string
    df['lastDigit'].astype(str)
    # If lastDigit = 'D', then drop the last 3 characters of the Hour Ending string; else, drop the last 2 characters of the Hour Ending string
    df['Hour Ending'] = df.apply(lambda x: x['Hour Ending'][:-3] if x['lastDigit'] == 'D' else x['Hour Ending'][:-2], axis=1)
    # Convert Hour Ending data type into an integer
    df['Hour Ending'].astype(int)
    # Convert Hour Ending into a timedelta object in order to add the hour to the date 
    df['Hour Ending'] = df['Hour Ending'].astype('timedelta64[h]')
    # Adjust for midnight = 24:00 (not 00:00)
    df['Hour Ending'] = df['Hour Ending'] - pd.to_timedelta(df['Hour Ending'].dt.days, unit='d')
    # Add the Hour Ending (aka time) to the date column and create a new Date_Time column
    df['Date_Time'] = df['Date'] + df['Hour Ending']
    # Drop the Date and Hour Ending columns since they have been combined into a single column, Date_Time
    # Drop the lastDigit column since it was only used to handle cleaning the daylight Saving in the Hour Ending column
    df = df.drop(['Date', 'Hour Ending', 'lastDigit'], 1)
    return df

## Extracting the Webberville Solar Farm Energy Output (MWH) Data

In [39]:
WebbervilleDF = pd.DataFrame()

# Read in the data and store as Pandas DataFrame
data_2017 = "Resources\Hackberry and Webberville 2017 output for David.xlsx"
Webberville_2017_DF = pd.read_excel(data_2017,sheet_name='Webberville')

# Print the shape (rows, columns) of the DataFrame
print(Webberville_2017_DF.shape)

# Display the DataFrame
Webberville_2017_DF

WebbervilleDF = WebbervilleDF.append(Webberville_2017_DF)

(8760, 4)

In [40]:
# Read in the data and store as Pandas DataFrame
data_2018 = "Resources\Hackberry and Webberville 2018 output for David.xlsx"
Webberville_2018_DF = pd.read_excel(data_2018,sheet_name='Webberville')

# Print the shape (rows, columns) of the DataFrame
print(Webberville_2018_DF.shape)

# Display the DataFrame
Webberville_2018_DF

WebbervilleDF = WebbervilleDF.append(Webberville_2018_DF)

(8760, 4)

In [41]:
# Read in the data and store as Pandas DataFrame
data_2020 = "Resources/Webberville_Gen_Data.csv"
Webberville_2020_DF = pd.read_csv(data_2020)

# Print the shape (rows, columns) of the DataFrame
print(Webberville_2020_DF.shape)

# Display the DataFrame
Webberville_2020_DF

WebbervilleDF = WebbervilleDF.append(Webberville_2020_DF)

(13871, 4)

In [47]:
# Re-Index the DataFrame: 24 hours * 578 days 
index = np.arange(0,31391,1)
WebbervilleDF = WebbervilleDF.set_index(index)

# Display the DataFrame
WebbervilleDF

                Unit      Date Hour Ending  MWH
0      WEBBER_S_WSP1  20170101         100  0.0
1      WEBBER_S_WSP1  20170101         200  0.0
2      WEBBER_S_WSP1  20170101         300  0.0
3      WEBBER_S_WSP1  20170101         400  0.0
4      WEBBER_S_WSP1  20170101         500  0.0
...              ...       ...         ...  ...
31386  WEBBER_S_WSP1  20200731        2000  0.0
31387  WEBBER_S_WSP1  20200731        2100  0.0
31388  WEBBER_S_WSP1  20200731        2200  0.0
31389  WEBBER_S_WSP1  20200731        2300  0.0
31390  WEBBER_S_WSP1  20200731        2400  0.0

[31391 rows x 4 columns]

## Explore the Data

In [ ]:
# Check the data types
WebbervilleDF.dtypes

In [ ]:
# Check the Value Counts
# The Unit column can be dropped since the values are the same in each row.
WebbervilleDF['Unit'].value_counts()

In [ ]:
# Check the Value Counts
# The value counts are unexpacted:
    # 2019-11-03 has 25 unique values
    # 2019-03-10 has 23 unique values
    # 2020-03-08 has 23 unique values
# Observation: 
# Daylight saving in 2019 occurred on 2019-03-10 and 2019-11-03. Daylight saving in 2020 occurred on 2020-03-08 and 2020-11-01. 
WebbervilleDF['Date'].value_counts()

## Daylight Savings
2018 
Daylight saving time 2018 in Texas began at 2:00 AM on
Sunday, March 11
and ended at 2:00 AM on
Sunday, November 4

2017
Sunday, March 12
and ended at 2:00 AM on
Sunday, November 5

In [23]:
# Due to Daylight saving, two values for 02:00am were recorded on 2019-11-03 (200 and 0200D).
WebbervilleDF.loc[(WebbervilleDF['Date'] == 20191103)].head()

# Due to Daylight saving, no value was recorded for 02:00am on 2019-03-10. 
WebbervilleDF.loc[(WebbervilleDF['Date'] == 20190310)].head()

# Due to Daylight saving, no value was recorded for 02:00am on 2020-03-08. 
WebbervilleDF.loc[(WebbervilleDF['Date'] == 20200308)].head()

                Unit      Date Hour Ending  MWH
10368  WEBBER_S_WSP1  20200308         100  0.0
10369  WEBBER_S_WSP1  20200308         300  0.0
10370  WEBBER_S_WSP1  20200308         400  0.0
10371  WEBBER_S_WSP1  20200308         500  0.0
10372  WEBBER_S_WSP1  20200308         600  0.0

## Transforming the Webberville Solar Farm Energy Output (MWH) Data

In [48]:
# Clean the WebbervilleDF
cleaned_Webberville_DF = cleanRenewableFarmData(WebbervilleDF)

# Print the shape (rows, columns) of the DataFrame
print(cleaned_Webberville_DF.shape)

# Display the DataFrame
cleaned_Webberville_DF

(31391, 2)

       MWH           Date_Time
0      0.0 2017-01-01 01:00:00
1      0.0 2017-01-01 02:00:00
2      0.0 2017-01-01 03:00:00
3      0.0 2017-01-01 04:00:00
4      0.0 2017-01-01 05:00:00
...    ...                 ...
31386  0.0 2020-07-31 20:00:00
31387  0.0 2020-07-31 21:00:00
31388  0.0 2020-07-31 22:00:00
31389  0.0 2020-07-31 23:00:00
31390  0.0 2020-07-31 00:00:00

[31391 rows x 2 columns]

In [49]:
# Check the function properly handled daylight savings
# Two different MWH values are displayed for 02:00am on 2019-11-03
cleaned_Webberville_DF.loc[(cleaned_Webberville_DF['Date_Time'] == '2019-11-03 02:00:00')]

      MWH           Date_Time
7344  0.0 2019-11-03 02:00:00
7345  0.0 2019-11-03 02:00:00

In [ ]:
# Check data types to make sure they are correct
cleaned_Webberville_DF.dtypes

## Export the Cleaned Webberville Solar Farm Energy Output (MWH) DataFrame to a CSV File

In [ ]:
# # Uncomment to output the cleaned DataFrame as a csv file
# cleaned_WebbervilleDF.to_csv(r'Output/Cleaned_Webberville_Generation.csv', index = False)

# Merging Webberville Energy Output Data with Solar Weather Data

## Define the Functions

In [50]:
def datetimeSplit(df):
    '''
    Split the datetime object into separate year, month, and day columns. 
    '''
    # Separate Year from datetime object and convert to int32
    df['Year'] = df['Date_Time'].dt.year
    df['Year'] = df['Year'].astype(int)
    # Separate Month from datetime object and convert to int32
    df['Month'] = df['Date_Time'].dt.month
    df['Month'] = df['Month'].astype(int)
    # Separate Day from datetime object and convert to int32
    df['Day'] = df['Date_Time'].dt.day
    df['Day'] = df['Day'].astype(int) 
    # Separate the Hour from datetime object and convert to int32
    df['Hour'] = df['Date_Time'].dt.hour
    df['Hour'] = df['Hour'].astype(int)
    return df

## Merge the Weather and Energy Output DataFrames

In [53]:
# Merge the cleaned weather data with the cleaned solar farm data using an outer join
WebbervilleSolarMWH = pd.merge(cleaned_hourlyWeatherDF, cleaned_Webberville_DF, on='Date_Time', how='outer')

# Display the DataFrame
WebbervilleSolarMWH

,Weather_Description,Temperature_F,Sunhour,CloudCover_percent,uvIndex,Humidity_percent,Date_Time,MWH
0,Mist,58,8.7,11,1,95,2017-01-01 00:00:00,0.0
1,Mist,57,8.7,11,1,95,2017-01-01 01:00:00,0.0
2,Mist,56,8.7,11,1,95,2017-01-01 02:00:00,0.0
3,Mist,56,8.7,12,1,95,2017-01-01 03:00:00,0.0
4,Mist,55,8.7,13,1,89,2017-01-01 04:00:00,0.0
...,...,...,...,...,...,...,...,...
31390,Light rain shower,88,9.8,74,1,58,2020-07-31 19:00:00,0.0
31391,Patchy light rain with thunder,86,9.8,77,1,62,2020-07-31 20:00:00,0.0
31392,Patchy light rain with thunder,85,9.8,80,1,66,2020-07-31 21:00:00,0.0
31393,Patchy light rain with thunder,83,9.8,78,1,71,2020-07-31 22:00:00,0.0
31394,Patchy rain possible,81,9.8,76,1,76,2020-07-31 23:00:00,0.0

## Clean the Marged DataFrame

In [54]:
# Count the Null Values
# Displays null values due to daylight saving (3/10/2019  2:00:00 AM and 3/8/2020  2:00:00 AM)
WebbervilleSolarMWH.isna().sum()

Weather_Description    0
Temperature_F          0
Sunhour                0
CloudCover_percent     0
uvIndex                0
Humidity_percent       0
Date_Time              0
MWH                    4
dtype: int64

In [55]:
# Drop the null values
WebbervilleSolarMWH.dropna(inplace=True)

# Print the shape (rows, columns) of the DataFrame
WebbervilleSolarMWH.shape

(31391, 8)

In [ ]:
# The solar power is generated by three types of panels:
    # 270 Watts panel - 32,018; 275 Watts panel - 63,238; 280 Watts panel - 32,022.
# Adding the 270 Watt panel number to the 280 Watt panel number is about the same in total to the 275 Watt panels.
    # Hence we can estimate that all panels are 275 Watt type panels and there are 127,278 of them.
# The per panel output is the total MHW/127,278.
#WebbervilleSolarMWH['MWH_perPanel'] = WebbervilleSolarMWH['MWH']/127278

In [56]:
# Split the Date_Time column into separate columns for year, month, and date
# Splitting the Date_Time column so exploratory analysis can be performed based on month, year, and time features
WebbervilleSolarMWH = datetimeSplit(WebbervilleSolarMWH)

In [57]:
# Re-Order the columns
WebbervilleSolarMWH = WebbervilleSolarMWH[["Date_Time", "Year", "Month", "Day", "Hour", "MWH","Temperature_F", "Humidity_percent", "Sunhour", "CloudCover_percent", "uvIndex", "Weather_Description"]]

In [58]:
# Print the shape (rows, columns) of the DataFrame
print(WebbervilleSolarMWH.shape)

# Display the DataFrame
WebbervilleSolarMWH.head()

(31391, 12)

,Date_Time,Year,Month,Day,Hour,MWH,Temperature_F,Humidity_percent,Sunhour,CloudCover_percent,uvIndex,Weather_Description
0,2017-01-01 00:00:00,2017,1,1,0,0.0,58,95,8.7,11,1,Mist
1,2017-01-01 01:00:00,2017,1,1,1,0.0,57,95,8.7,11,1,Mist
2,2017-01-01 02:00:00,2017,1,1,2,0.0,56,95,8.7,11,1,Mist
3,2017-01-01 03:00:00,2017,1,1,3,0.0,56,95,8.7,12,1,Mist
4,2017-01-01 04:00:00,2017,1,1,4,0.0,55,89,8.7,13,1,Mist

In [59]:
# Check the final data types
WebbervilleSolarMWH.dtypes

Date_Time              datetime64[ns]
Year                            int32
Month                           int32
Day                             int32
Hour                            int32
MWH                           float64
Temperature_F                   int32
Humidity_percent                int32
Sunhour                       float64
CloudCover_percent              int32
uvIndex                         int32
Weather_Description            object
dtype: object

## Export the Final DataFrame (Merged Solar Energy Output and Weather Data) to a CSV File

In [60]:
# Uncomment to output the final merged DataFrame as a csv file
WebbervilleSolarMWH.to_csv(r'Output/Webberville_Solar_2017-2020_MWH.csv', index = False)

# Load the Data into MongoDB

## Initial Imports

In [61]:
# Import Dependencies
import config
import pymongo

In [62]:
# Set string variables
DEFAULT_DATABASE = 'wind_solar_data' 
USERNAME = config.USERNAME
PASSWORD = config.PASSWORD

## Connect to MongoDB

In [63]:
#create connection to database
client = pymongo.MongoClient(f"mongodb+srv://{USERNAME}:{PASSWORD}@austin-green-energy.pwzpm.mongodb.net/{DEFAULT_DATABASE}?retryWrites=true&w=majority")
try:
    client.server_info()
    print("Mongodb connected")
except:
    print("The Mongodb failed to connect. Check username/password in connection string.")

Mongodb connected

## Uploading the Solar Data to the Database

In [64]:
# Select database
db = client.get_database('wind_solar_data')
# Select collection
collection = db.solar_data

# Pull the csv file from Output folder
solar_data = pd.read_csv('.\Output\Webberville_Solar_2017-2020_MWH.csv')  
# Turn the csv into a JSON object
solar_data_json = json.loads(solar_data.to_json(orient='records'))

# Remove what is in the collection currently
collection.remove()
# Insert the new JSON data into the database
collection.insert(solar_data_json)

fa48671b000d0412879c9a3'),
 ObjectId('5fa48671b000d0412879c9a4'),
 ObjectId('5fa48671b000d0412879c9a5'),
 ObjectId('5fa48671b000d0412879c9a6'),
 ObjectId('5fa48671b000d0412879c9a7'),
 ObjectId('5fa48671b000d0412879c9a8'),
 ObjectId('5fa48671b000d0412879c9a9'),
 ObjectId('5fa48671b000d0412879c9aa'),
 ObjectId('5fa48671b000d0412879c9ab'),
 ObjectId('5fa48671b000d0412879c9ac'),
 ObjectId('5fa48671b000d0412879c9ad'),
 ObjectId('5fa48671b000d0412879c9ae'),
 ObjectId('5fa48671b000d0412879c9af'),
 ObjectId('5fa48671b000d0412879c9b0'),
 ObjectId('5fa48671b000d0412879c9b1'),
 ObjectId('5fa48671b000d0412879c9b2'),
 ObjectId('5fa48671b000d0412879c9b3'),
 ObjectId('5fa48671b000d0412879c9b4'),
 ObjectId('5fa48671b000d0412879c9b5'),
 ObjectId('5fa48671b000d0412879c9b6'),
 ObjectId('5fa48671b000d0412879c9b7'),
 ObjectId('5fa48671b000d0412879c9b8'),
 ObjectId('5fa48671b000d0412879c9b9'),
 ObjectId('5fa48671b000d0412879c9ba'),
 ObjectId('5fa48671b000d0412879c9bb'),
 ObjectId('5fa48671b000d0412879c9bc'),
 ObjectId('5fa48671b000d0412879c9bd'),
 ObjectId('5fa48671b000d0412879c9be'),
 ObjectId('5fa48671b000d0412879c9bf'),
 ObjectId('5fa48671b000d0412879c9c0'),
 ObjectId('5fa48671b000d0412879c9c1'),
 ObjectId('5fa48671b000d0412879c9c2'),
 ObjectId('5fa48671b000d0412879c9c3'),
 ObjectId('5fa48671b000d0412879c9c4'),
 ObjectId('5fa48671b000d0412879c9c5'),
 ObjectId('5fa48671b000d0412879c9c6'),
 ObjectId('5fa48671b000d0412879c9c7'),
 ObjectId('5fa48671b000d0412879c9c8'),
 ObjectId('5fa48671b000d0412879c9c9'),
 ObjectId('5fa48671b000d0412879c9ca'),
 ObjectId('5fa48671b000d0412879c9cb'),
 ObjectId('5fa48671b000d0412879c9cc'),
 ObjectId('5fa48671b000d0412879c9cd'),
 ObjectId('5fa48671b000d0412879c9ce'),
 ObjectId('5fa48671b000d0412879c9cf'),
 ObjectId('5fa48671b000d0412879c9d0'),
 ObjectId('5fa48671b000d0412879c9d1'),
 ObjectId('5fa48671b000d0412879c9d2'),
 ObjectId('5fa48671b000d0412879c9d3'),
 ObjectId('5fa48671b000d0412879c9d4'),
 ObjectId('5fa48671b000d0412879c9d5'),
 ObjectId('5fa48671b000d0412879c9d6'),
 ObjectId('5fa48671b000d0412879c9d7'),
 ObjectId('5fa48671b000d0412879c9d8'),
 ObjectId('5fa48671b000d0412879c9d9'),
 ObjectId('5fa48671b000d0412879c9da'),
 ObjectId('5fa48671b000d0412879c9db'),
 ObjectId('5fa48671b000d0412879c9dc'),
 ObjectId('5fa48671b000d0412879c9dd'),
 ObjectId('5fa48671b000d0412879c9de'),
 ObjectId('5fa48671b000d0412879c9df'),
 ObjectId('5fa48671b000d0412879c9e0'),
 ObjectId('5fa48671b000d0412879c9e1'),
 ObjectId('5fa48671b000d0412879c9e2'),
 ObjectId('5fa48671b000d0412879c9e3'),
 ObjectId('5fa48671b000d0412879c9e4'),
 ObjectId('5fa48671b000d0412879c9e5'),
 ObjectId('5fa48671b000d0412879c9e6'),
 ObjectId('5fa48671b000d0412879c9e7'),
 ObjectId('5fa48671b000d0412879c9e8'),
 ObjectId('5fa48671b000d0412879c9e9'),
 ObjectId('5fa48671b000d0412879c9ea'),
 ObjectId('5fa48671b000d0412879c9eb'),
 ObjectId('5fa48671b000d0412879c9ec'),
 ObjectId('5fa48671b000d0412879c9ed'),
 ObjectId('5fa48671b000d0412879c9ee'),
 ObjectId('5fa48671b000d0412879c9ef'),
 ObjectId('5fa48671b000d0412879c9f0'),
 ObjectId('5fa48671b000d0412879c9f1'),
 ObjectId('5fa48671b000d0412879c9f2'),
 ObjectId('5fa48671b000d0412879c9f3'),
 ObjectId('5fa48671b000d0412879c9f4'),
 ObjectId('5fa48671b000d0412879c9f5'),
 ObjectId('5fa48671b000d0412879c9f6'),
 ObjectId('5fa48671b000d0412879c9f7'),
 ObjectId('5fa48671b000d0412879c9f8'),
 ObjectId('5fa48671b000d0412879c9f9'),
 ObjectId('5fa48671b000d0412879c9fa'),
 ObjectId('5fa48671b000d0412879c9fb'),
 ObjectId('5fa48671b000d0412879c9fc'),
 ObjectId('5fa48671b000d0412879c9fd'),
 ObjectId('5fa48671b000d0412879c9fe'),
 ObjectId('5fa48671b000d0412879c9ff'),
 ObjectId('5fa48671b000d0412879ca00'),
 ObjectId('5fa48671b000d0412879ca01'),
 ObjectId('5fa48671b000d0412879ca02'),
 ObjectId('5fa48671b000d0412879ca03'),
 ObjectId('5fa48671b000d0412879ca04'),
 ObjectId('5fa48671b000d0412879ca05'),
 ObjectId('5fa48671b000d0412879ca06'),
 ObjectId('5fa48671b000d0412879ca07'),
 ObjectId('5fa48671b000d0412879ca08'),
 ObjectId('5fa48671b000d0412879ca09'),
 ObjectId('5fa48671b000d0412879ca0a'),
 ObjectId('5fa48671b000d0412879ca0b'),
 ObjectId('5fa48671b000d0412879ca0c'),
 ObjectId('5fa48671b000d0412879ca0d'),
 ObjectId('5fa48671b000d0412879ca0e'),
 ObjectId('5fa48671b000d0412879ca0f'),
 ObjectId('5fa48671b000d0412879ca10'),
 ObjectId('5fa48671b000d0412879ca11'),
 ObjectId('5fa48671b000d0412879ca12'),
 ObjectId('5fa48671b000d0412879ca13'),
 ObjectId('5fa48671b000d0412879ca14'),
 ObjectId('5fa48671b000d0412879ca15'),
 ObjectId('5fa48671b000d0412879ca16'),
 ObjectId('5fa48671b000d0412879ca17'),
 ObjectId('5fa48671b000d0412879ca18'),
 ObjectId('5fa48671b000d0412879ca19'),
 ObjectId('5fa48671b000d0412879ca1a'),
 ObjectId('5fa48671b000d0412879ca1b'),
 ObjectId('5fa48671b000d0412879ca1c'),
 ObjectId('5fa48671b000d0412879ca1d'),
 ObjectId('5fa48671b000d0412879ca1e'),
 ObjectId('5fa48671b000d0412879ca1f'),
 ObjectId('5fa48671b000d0412879ca20'),
 ObjectId('5fa48671b000d0412879ca21'),
 ObjectId('5fa48671b000d0412879ca22'),
 ObjectId('5fa48671b000d0412879ca23'),
 ObjectId('5fa48671b000d0412879ca24'),
 ObjectId('5fa48671b000d0412879ca25'),
 ObjectId('5fa48671b000d0412879ca26'),
 ObjectId('5fa48671b000d0412879ca27'),
 ObjectId('5fa48671b000d0412879ca28'),
 ObjectId('5fa48671b000d0412879ca29'),
 ObjectId('5fa48671b000d0412879ca2a'),
 ObjectId('5fa48671b000d0412879ca2b'),
 ObjectId('5fa48671b000d0412879ca2c'),
 ObjectId('5fa48671b000d0412879ca2d'),
 ObjectId('5fa48671b000d0412879ca2e'),
 ObjectId('5fa48671b000d0412879ca2f'),
 ObjectId('5fa48671b000d0412879ca30'),
 ObjectId('5fa48671b000d0412879ca31'),
 ObjectId('5fa48671b000d0412879ca32'),
 ObjectId('5fa48671b000d0412879ca33'),
 ObjectId('5fa48671b000d0412879ca34'),
 ObjectId('5fa48671b000d0412879ca35'),
 ObjectId('5fa48671b000d0412879ca36'),
 ObjectId('5fa48671b000d0412879ca37'),
 ObjectId('5fa48671b000d0412879ca38'),
 ObjectId('5fa48671b000d0412879ca39'),
 ObjectId('5fa48671b000d0412879ca3a'),
 ObjectId('5fa48671b000d0412879ca3b'),
 ObjectId('5fa48671b000d0412879ca3c'),
 ObjectId('5fa48671b000d0412879ca3d'),
 ObjectId('5fa48671b000d0412879ca3e'),
 ObjectId('5fa48671b000d0412879ca3f'),
 ObjectId('5fa48671b000d0412879ca40'),
 ObjectId('5fa48671b000d0412879ca41'),
 ObjectId('5fa48671b000d0412879ca42'),
 ObjectId('5fa48671b000d0412879ca43'),
 ObjectId('5fa48671b000d0412879ca44'),
 ObjectId('5fa48671b000d0412879ca45'),
 ObjectId('5fa48671b000d0412879ca46'),
 ObjectId('5fa48671b000d0412879ca47'),
 ObjectId('5fa48671b000d0412879ca48'),
 ObjectId('5fa48671b000d0412879ca49'),
 ObjectId('5fa48671b000d0412879ca4a'),
 ObjectId('5fa48671b000d0412879ca4b'),
 ObjectId('5fa48671b000d0412879ca4c'),
 ObjectId('5fa48671b000d0412879ca4d'),
 ObjectId('5fa48671b000d0412879ca4e'),
 ObjectId('5fa48671b000d0412879ca4f'),
 ObjectId('5fa48671b000d0412879ca50'),
 ObjectId('5fa48671b000d0412879ca51'),
 ObjectId('5fa48671b000d0412879ca52'),
 ObjectId('5fa48671b000d0412879ca53'),
 ObjectId('5fa48671b000d0412879ca54'),
 ObjectId('5fa48671b000d0412879ca55'),
 ObjectId('5fa48671b000d0412879ca56'),
 ObjectId('5fa48671b000d0412879ca57'),
 ObjectId('5fa48671b000d0412879ca58'),
 ObjectId('5fa48671b000d0412879ca59'),
 ObjectId('5fa48671b000d0412879ca5a'),
 ObjectId('5fa48671b000d0412879ca5b'),
 ObjectId('5fa48671b000d0412879ca5c'),
 ObjectId('5fa48671b000d0412879ca5d'),
 ObjectId('5fa48671b000d0412879ca5e'),
 ObjectId('5fa48671b000d0412879ca5f'),
 ObjectId('5fa48671b000d0412879ca60'),
 ObjectId('5fa48671b000d0412879ca61'),
 ObjectId('5fa48671b000d0412879ca62'),
 ObjectId('5fa48671b000d0412879ca63'),
 ObjectId('5fa48671b000d0412879ca64'),
 ObjectId('5fa48671b000d0412879ca65'),
 ObjectId('5fa48671b000d0412879ca66'),
 ObjectId('5fa48671b000d0412879ca67'),
 ObjectId('5fa48671b000d0412879ca68'),
 ObjectId('5fa48671b000d0412879ca69'),
 ObjectId('5fa48671b000d0412879ca6a'),
 ObjectId('5fa48671b000d0412879ca6b'),
 ObjectId('5fa48671b000d0412879ca6c'),
 ObjectId('5fa48671b000d0412879ca6d'),
 ObjectId('5fa48671b000d0412879ca6e'),
 ObjectId('5fa48671b000d0412879ca6f'),
 ObjectId('5fa48671b000d0412879ca70'),
 ObjectId('5fa48671b000d0412879ca71'),
 ObjectId('5fa48671b000d0412879ca72'),
 ObjectId('5fa48671b000d0412879ca73'),
 ObjectId('5fa48671b000d0412879ca74'),
 ObjectId('5fa48671b000d0412879ca75'),
 ObjectId('5fa48671b000d0412879ca76'),
 ObjectId('5fa48671b000d0412879ca77'),
 ObjectId('5fa48671b000d0412879ca78'),
 ObjectId('5fa48671b000d0412879ca79'),
 ObjectId('5fa48671b000d0412879ca7a'),
 ObjectId('5fa48671b000d0412879ca7b'),
 ObjectId('5fa48671b000d0412879ca7c'),
 ObjectId('5fa48671b000d0412879ca7d'),
 ObjectId('5fa48671b000d0412879ca7e'),
 ObjectId('5fa48671b000d0412879ca7f'),
 ObjectId('5fa48671b000d0412879ca80'),
 ObjectId('5fa48671b000d0412879ca81'),
 ObjectId('5fa48671b000d0412879ca82'),
 ObjectId('5fa48671b000d0412879ca83'),
 ObjectId('5fa48671b000d0412879ca84'),
 ObjectId('5fa48671b000d0412879ca85'),
 ObjectId('5fa48671b000d0412879ca86'),
 ObjectId('5fa48671b000d0412879ca87'),
 ObjectId('5fa48671b000d0412879ca88'),
 ObjectId('5fa48671b000d0412879ca89'),
 ObjectId('5fa48671b000d0412879ca8a'),
 ObjectId('5fa48671b000d0412879ca8b'),
 ObjectId('5fa48671b000d0412879ca8c'),
 ObjectId('5fa48671b000d0412879ca8d'),
 ObjectId('5fa48671b000d0412879ca8e'),
 ObjectId('5fa48671b000d0412879ca8f'),
 ObjectId('5fa48671b000d0412879ca90'),
 ObjectId('5fa48671b000d0412879ca91'),
 ObjectId('5fa48671b000d0412879ca92'),
 ObjectId('5fa48671b000d0412879ca93'),
 ObjectId('5fa48671b000d0412879ca94'),
 ObjectId('5fa48671b000d0412879ca95'),
 ObjectId('5fa48671b000d0412879ca96'),
 ObjectId('5fa48671b000d0412879ca97'),
 ObjectId('5fa48671b000d0412879ca98'),
 ObjectId('5fa48671b000d0412879ca99'),
 ObjectId('5fa48671b000d0412879ca9a'),
 ObjectId('5fa48671b000d0412879ca9b'),
 ObjectId('5fa48671b000d0412879ca9c'),
 ObjectId('5fa48671b000d0412879ca9d'),
 ObjectId('5fa48671b000d0412879ca9e'),
 ObjectId('5fa48671b000d0412879ca9f'),
 ObjectId('5fa48671b000d0412879caa0'),
 ObjectId('5fa48671b000d0412879caa1'),
 ObjectId('5fa48671b000d0412879caa2'),
 ObjectId('5fa48671b000d0412879caa3'),
 ObjectId('5fa48671b000d0412879caa4'),
 ObjectId('5fa48671b000d0412879caa5'),
 ObjectId('5fa48671b000d0412879caa6'),
 ObjectId('5fa48671b000d0412879caa7'),
 ObjectId('5fa48671b000d0412879caa8'),
 ObjectId('5fa48671b000d0412879caa9'),
 ObjectId('5fa48671b000d0412879caaa'),
 ObjectId('5fa48671b000d0412879caab'),
 ObjectId('5fa48671b000d0412879caac'),
 ObjectId('5fa48671b000d0412879caad'),
 ObjectId('5fa48671b000d0412879caae'),
 ObjectId('5fa48671b000d0412879caaf'),
 ObjectId('5fa48671b000d0412879cab0'),
 ObjectId('5fa48671b000d0412879cab1'),
 ObjectId('5fa48671b000d0412879cab2'),
 ObjectId('5fa48671b000d0412879cab3'),
 ObjectId('5fa48671b000d0412879cab4'),
 ObjectId('5fa48671b000d0412879cab5'),
 ObjectId('5fa48671b000d0412879cab6'),
 ObjectId('5fa48671b000d0412879cab7'),
 ObjectId('5fa48671b000d0412879cab8'),
 ObjectId('5fa48671b000d0412879cab9'),
 ObjectId('5fa48671b000d0412879caba'),
 ObjectId('5fa48671b000d0412879cabb'),
 ObjectId('5fa48671b000d0412879cabc'),
 ObjectId('5fa48671b000d0412879cabd'),
 ObjectId('5fa48671b000d0412879cabe'),
 ObjectId('5fa48671b000d0412879cabf'),
 ObjectId('5fa48671b000d0412879cac0'),
 ObjectId('5fa48671b000d0412879cac1'),
 ObjectId('5fa48671b000d0412879cac2'),
 ObjectId('5fa48671b000d0412879cac3'),
 ObjectId('5fa48671b000d0412879cac4'),
 ObjectId('5fa48671b000d0412879cac5'),
 ObjectId('5fa48671b000d0412879cac6'),
 ObjectId('5fa48671b000d0412879cac7'),
 ObjectId('5fa48671b000d0412879cac8'),
 ObjectId('5fa48671b000d0412879cac9'),
 ObjectId('5fa48671b000d0412879caca'),
 ObjectId('5fa48671b000d0412879cacb'),
 ObjectId('5fa48671b000d0412879cacc'),
 ObjectId('5fa48671b000d0412879cacd'),
 ObjectId('5fa48671b000d0412879cace'),
 ObjectId('5fa48671b000d0412879cacf'),
 ObjectId('5fa48671b000d0412879cad0'),
 ObjectId('5fa48671b000d0412879cad1'),
 ObjectId('5fa48671b000d0412879cad2'),
 ObjectId('5fa48671b000d0412879cad3'),
 ObjectId('5fa48671b000d0412879cad4'),
 ObjectId('5fa48671b000d0412879cad5'),
 ObjectId('5fa48671b000d0412879cad6'),
 ObjectId('5fa48671b000d0412879cad7'),
 ObjectId('5fa48671b000d0412879cad8'),
 ObjectId('5fa48671b000d0412879cad9'),
 ObjectId('5fa48671b000d0412879cada'),
 ObjectId('5fa48671b000d0412879cadb'),
 ObjectId('5fa48671b000d0412879cadc'),
 ObjectId('5fa48671b000d0412879cadd'),
 ObjectId('5fa48671b000d0412879cade'),
 ObjectId('5fa48671b000d0412879cadf'),
 ObjectId('5fa48671b000d0412879cae0'),
 ObjectId('5fa48671b000d0412879cae1'),
 ObjectId('5fa48671b000d0412879cae2'),
 ObjectId('5fa48671b000d0412879cae3'),
 ObjectId('5fa48671b000d0412879cae4'),
 ObjectId('5fa48671b000d0412879cae5'),
 ObjectId('5fa48671b000d0412879cae6'),
 ObjectId('5fa48671b000d0412879cae7'),
 ObjectId('5fa48671b000d0412879cae8'),
 ObjectId('5fa48671b000d0412879cae9'),
 ObjectId('5fa48671b000d0412879caea'),
 ObjectId('5fa48671b000d0412879caeb'),
 ObjectId('5fa48671b000d0412879caec'),
 ObjectId('5fa48671b000d0412879caed'),
 ObjectId('5fa48671b000d0412879caee'),
 ObjectId('5fa48671b000d0412879caef'),
 ObjectId('5fa48671b000d0412879caf0'),
 ObjectId('5fa48671b000d0412879caf1'),
 ObjectId('5fa48671b000d0412879caf2'),
 ObjectId('5fa48671b000d0412879caf3'),
 ObjectId('5fa48671b000d0412879caf4'),
 ObjectId('5fa48671b000d0412879caf5'),
 ObjectId('5fa48671b000d0412879caf6'),
 ObjectId('5fa48671b000d0412879caf7'),
 ObjectId('5fa48671b000d0412879caf8'),
 ObjectId('5fa48671b000d0412879caf9'),
 ObjectId('5fa48671b000d0412879cafa'),
 ObjectId('5fa48671b000d0412879cafb'),
 ObjectId('5fa48671b000d0412879cafc'),
 ObjectId('5fa48671b000d0412879cafd'),
 ObjectId('5fa48671b000d0412879cafe'),
 ObjectId('5fa48671b000d0412879caff'),
 ObjectId('5fa48671b000d0412879cb00'),
 ObjectId('5fa48671b000d0412879cb01'),
 ObjectId('5fa48671b000d0412879cb02'),
 ObjectId('5fa48671b000d0412879cb03'),
 ObjectId('5fa48671b000d0412879cb04'),
 ObjectId('5fa48671b000d0412879cb05'),
 ObjectId('5fa48671b000d0412879cb06'),
 ObjectId('5fa48671b000d0412879cb07'),
 ObjectId('5fa48671b000d0412879cb08'),
 ObjectId('5fa48671b000d0412879cb09'),
 ObjectId('5fa48671b000d0412879cb0a'),
 ObjectId('5fa48671b000d0412879cb0b'),
 ObjectId('5fa48671b000d0412879cb0c'),
 ObjectId('5fa48671b000d0412879cb0d'),
 ObjectId('5fa48671b000d0412879cb0e'),
 ObjectId('5fa48671b000d0412879cb0f'),
 ObjectId('5fa48671b000d0412879cb10'),
 ObjectId('5fa48671b000d0412879cb11'),
 ObjectId('5fa48671b000d0412879cb12'),
 ObjectId('5fa48671b000d0412879cb13'),
 ObjectId('5fa48671b000d0412879cb14'),
 ObjectId('5fa48671b000d0412879cb15'),
 ObjectId('5fa48671b000d0412879cb16'),
 ObjectId('5fa48671b000d0412879cb17'),
 ObjectId('5fa48671b000d0412879cb18'),
 ObjectId('5fa48671b000d0412879cb19'),
 ObjectId('5fa48671b000d0412879cb1a'),
 ObjectId('5fa48671b000d0412879cb1b'),
 ObjectId('5fa48671b000d0412879cb1c'),
 ObjectId('5fa48671b000d0412879cb1d'),
 ObjectId('5fa48671b000d0412879cb1e'),
 ObjectId('5fa48671b000d0412879cb1f'),
 ObjectId('5fa48671b000d0412879cb20'),
 ObjectId('5fa48671b000d0412879cb21'),
 ObjectId('5fa48671b000d0412879cb22'),
 ObjectId('5fa48671b000d0412879cb23'),
 ObjectId('5fa48671b000d0412879cb24'),
 ObjectId('5fa48671b000d0412879cb25'),
 ObjectId('5fa48671b000d0412879cb26'),
 ObjectId('5fa48671b000d0412879cb27'),
 ObjectId('5fa48671b000d0412879cb28'),
 ObjectId('5fa48671b000d0412879cb29'),
 ObjectId('5fa48671b000d0412879cb2a'),
 ObjectId('5fa48671b000d0412879cb2b'),
 ObjectId('5fa48671b000d0412879cb2c'),
 ObjectId('5fa48671b000d0412879cb2d'),
 ObjectId('5fa48671b000d0412879cb2e'),
 ObjectId('5fa48671b000d0412879cb2f'),
 ObjectId('5fa48671b000d0412879cb30'),
 ObjectId('5fa48671b000d0412879cb31'),
 ObjectId('5fa48671b000d0412879cb32'),
 ObjectId('5fa48671b000d0412879cb33'),
 ObjectId('5fa48671b000d0412879cb34'),
 ObjectId('5fa48671b000d0412879cb35'),
 ObjectId('5fa48671b000d0412879cb36'),
 ObjectId('5fa48671b000d0412879cb37'),
 ObjectId('5fa48671b000d0412879cb38'),
 ObjectId('5fa48671b000d0412879cb39'),
 ObjectId('5fa48671b000d0412879cb3a'),
 ObjectId('5fa48671b000d0412879cb3b'),
 ObjectId('5fa48671b000d0412879cb3c'),
 ObjectId('5fa48671b000d0412879cb3d'),
 ObjectId('5fa48671b000d0412879cb3e'),
 ObjectId('5fa48671b000d0412879cb3f'),
 ObjectId('5fa48671b000d0412879cb40'),
 ObjectId('5fa48671b000d0412879cb41'),
 ObjectId('5fa48671b000d0412879cb42'),
 ObjectId('5fa48671b000d0412879cb43'),
 ObjectId('5fa48671b000d0412879cb44'),
 ObjectId('5fa48671b000d0412879cb45'),
 ObjectId('5fa48671b000d0412879cb46'),
 ObjectId('5fa48671b000d0412879cb47'),
 ObjectId('5fa48671b000d0412879cb48'),
 ObjectId('5fa48671b000d0412879cb49'),
 ObjectId('5fa48671b000d0412879cb4a'),
 ObjectId('5fa48671b000d0412879cb4b'),
 ObjectId('5fa48671b000d0412879cb4c'),
 ObjectId('5fa48671b000d0412879cb4d'),
 ObjectId('5fa48671b000d0412879cb4e'),
 ObjectId('5fa48671b000d0412879cb4f'),
 ObjectId('5fa48671b000d0412879cb50'),
 ObjectId('5fa48671b000d0412879cb51'),
 ObjectId('5fa48671b000d0412879cb52'),
 ObjectId('5fa48671b000d0412879cb53'),
 ObjectId('5fa48671b000d0412879cb54'),
 ObjectId('5fa48671b000d0412879cb55'),
 ObjectId('5fa48671b000d0412879cb56'),
 ObjectId('5fa48671b000d0412879cb57'),
 ObjectId('5fa48671b000d0412879cb58'),
 ObjectId('5fa48671b000d0412879cb59'),
 ObjectId('5fa48671b000d0412879cb5a'),
 ObjectId('5fa48671b000d0412879cb5b'),
 ObjectId('5fa48671b000d0412879cb5c'),
 ObjectId('5fa48671b000d0412879cb5d'),
 ObjectId('5fa48671b000d0412879cb5e'),
 ObjectId('5fa48671b000d0412879cb5f'),
 ObjectId('5fa48671b000d0412879cb60'),
 ObjectId('5fa48671b000d0412879cb61'),
 ObjectId('5fa48671b000d0412879cb62'),
 ObjectId('5fa48671b000d0412879cb63'),
 ObjectId('5fa48671b000d0412879cb64'),
 ObjectId('5fa48671b000d0412879cb65'),
 ObjectId('5fa48671b000d0412879cb66'),
 ObjectId('5fa48671b000d0412879cb67'),
 ObjectId('5fa48671b000d0412879cb68'),
 ObjectId('5fa48671b000d0412879cb69'),
 ObjectId('5fa48671b000d0412879cb6a'),
 ObjectId('5fa48671b000d0412879cb6b'),
 ObjectId('5fa48671b000d0412879cb6c'),
 ObjectId('5fa48671b000d0412879cb6d'),
 ObjectId('5fa48671b000d0412879cb6e'),
 ObjectId('5fa48671b000d0412879cb6f'),
 ObjectId('5fa48671b000d0412879cb70'),
 ObjectId('5fa48671b000d0412879cb71'),
 ObjectId('5fa48671b000d0412879cb72'),
 ObjectId('5fa48671b000d0412879cb73'),
 ObjectId('5fa48671b000d0412879cb74'),
 ObjectId('5fa48671b000d0412879cb75'),
 ObjectId('5fa48671b000d0412879cb76'),
 ObjectId('5fa48671b000d0412879cb77'),
 ObjectId('5fa48671b000d0412879cb78'),
 ObjectId('5fa48671b000d0412879cb79'),
 ObjectId('5fa48671b000d0412879cb7a'),
 ObjectId('5fa48671b000d0412879cb7b'),
 ObjectId('5fa48671b000d0412879cb7c'),
 ObjectId('5fa48671b000d0412879cb7d'),
 ObjectId('5fa48671b000d0412879cb7e'),
 ObjectId('5fa48671b000d0412879cb7f'),
 ObjectId('5fa48671b000d0412879cb80'),
 ObjectId('5fa48671b000d0412879cb81'),
 ObjectId('5fa48671b000d0412879cb82'),
 ObjectId('5fa48671b000d0412879cb83'),
 ObjectId('5fa48671b000d0412879cb84'),
 ObjectId('5fa48671b000d0412879cb85'),
 ObjectId('5fa48671b000d0412879cb86'),
 ObjectId('5fa48671b000d0412879cb87'),
 ObjectId('5fa48671b000d0412879cb88'),
 ObjectId('5fa48671b000d0412879cb89'),
 ObjectId('5fa48671b000d0412879cb8a'),
 ObjectId('5fa48671b000d0412879cb8b'),
 ObjectId('5fa48671b000d0412879cb8c'),
 ObjectId('5fa48671b000d0412879cb8d'),
 ObjectId('5fa48671b000d0412879cb8e'),
 ObjectId('5fa48671b000d0412879cb8f'),
 ObjectId('5fa48671b000d0412879cb90'),
 ObjectId('5fa48671b000d0412879cb91'),
 ObjectId('5fa48671b000d0412879cb92'),
 ObjectId('5fa48671b000d0412879cb93'),
 ObjectId('5fa48671b000d0412879cb94'),
 ObjectId('5fa48671b000d0412879cb95'),
 ObjectId('5fa48671b000d0412879cb96'),
 ObjectId('5fa48671b000d0412879cb97'),
 ObjectId('5fa48671b000d0412879cb98'),
 ObjectId('5fa48671b000d0412879cb99'),
 ObjectId('5fa48671b000d0412879cb9a'),
 ObjectId('5fa48671b000d0412879cb9b'),
 ObjectId('5fa48671b000d0412879cb9c'),
 ObjectId('5fa48671b000d0412879cb9d'),
 ObjectId('5fa48671b000d0412879cb9e'),
 ObjectId('5fa48671b000d0412879cb9f'),
 ObjectId('5fa48671b000d0412879cba0'),
 ObjectId('5fa48671b000d0412879cba1'),
 ObjectId('5fa48671b000d0412879cba2'),
 ObjectId('5fa48671b000d0412879cba3'),
 ...]

## Pull the Solar Data from the Database and Upload into DataFrame

In [65]:
# Select database
db = client.get_database('wind_solar_data')
# sSlect collection
collection = db.solar_data

# Pull collection into dataframe
solar_df = pd.DataFrame(list(collection.find()))
solar_df

,_id,Date_Time,Year,Month,Day,Hour,MWH,Temperature_F,Humidity_percent,Sunhour,CloudCover_percent,uvIndex,Weather_Description
0,5fa48671b000d0412879c7bc,2017-01-01 00:00:00,2017,1,1,0,0.0,58,95,8.7,11,1,Mist
1,5fa48671b000d0412879c7bd,2017-01-01 01:00:00,2017,1,1,1,0.0,57,95,8.7,11,1,Mist
2,5fa48671b000d0412879c7be,2017-01-01 02:00:00,2017,1,1,2,0.0,56,95,8.7,11,1,Mist
3,5fa48671b000d0412879c7bf,2017-01-01 03:00:00,2017,1,1,3,0.0,56,95,8.7,12,1,Mist
4,5fa48671b000d0412879c7c0,2017-01-01 04:00:00,2017,1,1,4,0.0,55,89,8.7,13,1,Mist
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31386,5fa48671b000d041287a4256,2020-07-31 19:00:00,2020,7,31,19,0.0,88,58,9.8,74,1,Light rain shower
31387,5fa48671b000d041287a4257,2020-07-31 20:00:00,2020,7,31,20,0.0,86,62,9.8,77,1,Patchy light rain with thunder
31388,5fa48671b000d041287a4258,2020-07-31 21:00:00,2020,7,31,21,0.0,85,66,9.8,80,1,Patchy light rain with thunder
31389,5fa48671b000d041287a4259,2020-07-31 22:00:00,2020,7,31,22,0.0,83,71,9.8,78,1,Patchy light rain with thunder
31390,5fa48671b000d041287a425a,2020-07-31 23:00:00,2020,7,31,23,0.0,81,76,9.8,76,1,Patchy rain possible