In [1]:
# Initial Imports
import requests
import pandas as pd
import json
import numpy as np
from datetime import datetime
from datetime import timedelta

In [2]:
# Import API Key
from config import key

# Documentation:
#https://www.worldweatheronline.com/developer/my/analytics.aspx?key_id=222419

In [3]:
# Make a request to the worldweatheronline local history weather API page
def makeARequest(location, startDate, endDate, yourAPIKey):
    baseURL = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
    timeInterval = "1"
    outputFormatToReturn = "json"

    requestURL = f"{baseURL}?q={location}&date={startDate}&enddate={endDate}&tp={timeInterval}&format={outputFormatToReturn}&key={yourAPIKey}"
    
    response = requests.get(requestURL)

    if response.status_code == 200:
        responseJson = response.json()
        return responseJson
    else:
        return print(response.status_code)

In [1]:
# Pull the wind variables from the responseJson 
def monthlyHistoricalWeather(firstDayOfMonth, lastDayOfMonth, jsonResponse):
    
    first = datetime.strptime(firstDayOfMonth, '%Y-%m-%d')
    last = datetime.strptime(lastDayOfMonth, '%Y-%m-%d')
    numberOfDays = last.day - first.day

    HourlyHistoricalWeather = []
    
    for day in np.arange(0,numberOfDays + 1,1):
        for hour in np.arange(0,24,1):
            HourlyHistoricalWeather.append({
                "Date" : jsonResponse["data"]["weather"][day]["date"],
                "Time" : jsonResponse["data"]["weather"][day]["hourly"][hour]["time"],
                "Temp_F" : jsonResponse["data"]["weather"][0]["hourly"][0]["tempF"],
                "cloudcover_percent" : jsonResponse["data"]["weather"][0]["hourly"][0]["cloudcover"],
                "uvIndex" : jsonResponse["data"]["weather"][0]["hourly"][0]["uvIndex"],
                "weatherDescription" : jsonResponse["data"]["weather"][0]["hourly"][0]["weatherDesc"][0]["value"],
                "humidity" : jsonResponse["data"]["weather"][0]["hourly"][0]["humidity"]
            })

    return HourlyHistoricalWeather

In [2]:

# Store the variables in a DataFrame
def monthlyHistoricalWeatherDF(month):
    weatherDataFrame = pd.DataFrame(month)
    return weatherDataFrame

In [3]:
# Define the Latitude and longitude of Webberville Solar Farm
    # Latitude: 30.238333
    # Longitude: -97.508611
latLong = "30.238333,-97.508611"

In [4]:
# baseURL = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
# timeInterval = "1"
# outputFormatToReturn = "json"

In [5]:
# January
# startDate = "2019-01-01"
# endDate = "2019-01-31"
# location = "30.238333,-97.508611"

# requestURL = f"{baseURL}?q={location}&date={startDate}&enddate={endDate}&tp={timeInterval}&format={outputFormatToReturn}&key={key}"
# print(requestURL)

In [6]:
# January
date = "2019-01-01"
enddate = "2019-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

January = monthlyHistoricalWeather(date, enddate, responseJson)
JanuaryDF = monthlyHistoricalWeatherDF(January)
JanuaryDF.head()

NameError: name 'makeARequest' is not defined

In [ ]:
# responseJson["data"]["weather"][0]["hourly"][0]["tempF"]

In [ ]:
# responseJson["data"]["weather"][0]["hourly"][0]["cloudcover"]

In [ ]:
# responseJson["data"]["weather"][0]["hourly"][0]["uvIndex"]

In [ ]:
# responseJson["data"]["weather"][0]["hourly"][0]["weatherDesc"][0]["value"]

In [ ]:
# responseJson["data"]["weather"][0]["hourly"][0]["humidity"]

In [8]:
# February
date = "2019-02-01"
enddate = "2019-02-28"

responseJson = makeARequest(latLong, date, enddate, key)

February = monthlyHistoricalWeather(date, enddate, responseJson)
FebruaryDF = monthlyHistoricalWeatherDF(February)

In [9]:
# March
date = "2019-03-01"
enddate = "2019-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March = monthlyHistoricalWeather(date, enddate, responseJson)
MarchDF = monthlyHistoricalWeatherDF(March)

In [10]:
# April
date = "2019-04-01"
enddate = "2019-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April = monthlyHistoricalWeather(date, enddate, responseJson)
AprilDF = monthlyHistoricalWeatherDF(April)

In [11]:
# May
date = "2019-05-01"
enddate = "2019-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May = monthlyHistoricalWeather(date, enddate, responseJson)
MayDF = monthlyHistoricalWeatherDF(May)

In [12]:
# June
date = "2019-06-01"
enddate = "2019-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June = monthlyHistoricalWeather(date, enddate, responseJson)
JuneDF = monthlyHistoricalWeatherDF(June)

In [13]:
# July
date = "2019-07-01"
enddate = "2019-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July = monthlyHistoricalWeather(date, enddate, responseJson)
JulyDF = monthlyHistoricalWeatherDF(July)

In [ ]:
# JulyDF

In [ ]:
# responseJson

In [14]:
# August
date = "2019-08-01"
enddate = "2019-08-31"

responseJson = makeARequest(latLong, date, enddate, key)

August = monthlyHistoricalWeather(date, enddate, responseJson)
AugustDF = monthlyHistoricalWeatherDF(August)

In [ ]:
# responseJson

In [15]:
# September
date = "2019-09-01"
enddate = "2019-09-30"

responseJson = makeARequest(latLong, date, enddate, key)

September = monthlyHistoricalWeather(date, enddate, responseJson)
SeptemberDF = monthlyHistoricalWeatherDF(September)

In [ ]:
# SeptemberDF

In [16]:
# October
date = "2019-10-01"
enddate = "2019-10-31"

responseJson = makeARequest(latLong, date, enddate, key)

October = monthlyHistoricalWeather(date, enddate, responseJson)
OctoberDF = monthlyHistoricalWeatherDF(October)

In [17]:
# November
date = "2019-11-01"
enddate = "2019-11-30"

responseJson = makeARequest(latLong, date, enddate, key)

November = monthlyHistoricalWeather(date, enddate, responseJson)
NovemberDF = monthlyHistoricalWeatherDF(November)

In [18]:
# December
date = "2019-12-01"
enddate = "2019-12-31"

responseJson = makeARequest(latLong, date, enddate, key)

December = monthlyHistoricalWeather(date, enddate, responseJson)
DecemberDF = monthlyHistoricalWeatherDF(December)

In [19]:
# January
date = "2020-01-01"
enddate = "2020-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

Jan2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Jan2020DF = monthlyHistoricalWeatherDF(Jan2020)

In [20]:
# February
date = "2020-02-01"
enddate = "2020-02-29"

responseJson = makeARequest(latLong, date, enddate, key)

Feb2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Feb2020DF = monthlyHistoricalWeatherDF(Feb2020)

In [21]:
# March
date = "2020-03-01"
enddate = "2020-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March2020 = monthlyHistoricalWeather(date, enddate, responseJson)
March2020DF = monthlyHistoricalWeatherDF(March2020)

In [22]:
# April
date = "2020-04-01"
enddate = "2020-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April2020 = monthlyHistoricalWeather(date, enddate, responseJson)
April2020DF = monthlyHistoricalWeatherDF(April2020)

In [23]:
# May
date = "2020-05-01"
enddate = "2020-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May2020 = monthlyHistoricalWeather(date, enddate, responseJson)
May2020DF = monthlyHistoricalWeatherDF(May2020)

In [24]:
# June
date = "2020-06-01"
enddate = "2020-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June2020 = monthlyHistoricalWeather(date, enddate, responseJson)
June2020DF = monthlyHistoricalWeatherDF(June2020)

In [76]:
# July
date = "2020-07-01"
enddate = "2020-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July2020 = monthlyHistoricalWeather(date, enddate, responseJson)
July2020DF = monthlyHistoricalWeatherDF(July2020)

In [86]:
# Combine each month into a single DataFrame
#hourlyWeatherDF2019 = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF]) 
hourlyWeatherDF = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF, Jan2020DF, Feb2020DF, March2020DF, April2020DF, May2020DF, June2020DF, July2020DF]) 
index = np.arange(0,24*578,1)
hourlyWeatherDF = hourlyWeatherDF.set_index(index)
hourlyWeatherDF

,Date,Time,temperature(F),cloudcover(%),uvIndex,weatherDescription,humidity
0,2019-01-01,0,43,0,1,Clear,88
1,2019-01-01,100,43,0,1,Clear,88
2,2019-01-01,200,43,0,1,Clear,88
3,2019-01-01,300,43,0,1,Clear,88
4,2019-01-01,400,43,0,1,Clear,88
...,...,...,...,...,...,...,...
13867,2020-07-31,1900,79,73,1,Partly cloudy,89
13868,2020-07-31,2000,79,73,1,Partly cloudy,89
13869,2020-07-31,2100,79,73,1,Partly cloudy,89
13870,2020-07-31,2200,79,73,1,Partly cloudy,89
13871,2020-07-31,2300,79,73,1,Partly cloudy,89

In [75]:
# July2020DF

,Date,Time,temperature(F),cloudcover(%),uvIndex,weatherDescription,humidity
0,2019-07-01,0,74,85,1,Patchy rain possible,77
1,2019-07-01,100,74,85,1,Patchy rain possible,77
2,2019-07-01,200,74,85,1,Patchy rain possible,77
3,2019-07-01,300,74,85,1,Patchy rain possible,77
4,2019-07-01,400,74,85,1,Patchy rain possible,77
...,...,...,...,...,...,...,...
739,2019-07-31,1900,74,85,1,Patchy rain possible,77
740,2019-07-31,2000,74,85,1,Patchy rain possible,77
741,2019-07-31,2100,74,85,1,Patchy rain possible,77
742,2019-07-31,2200,74,85,1,Patchy rain possible,77
743,2019-07-31,2300,74,85,1,Patchy rain possible,77

In [38]:
hourlyWeatherDF.dtypes

Date                  object
Time                  object
temperature(F)        object
cloudcover(%)         object
uvIndex               object
weatherDescription    object
humidity              object
dtype: object

# Performing ETL on Solar Data

In [39]:
def cleaningDataFrame_datetime(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Time'] = df['Time'].astype(int)
    df['Time'] = (df['Time']/100).astype(int)
    df['Time'] = df['Time'].astype('timedelta64[h]')
    df['Time'] = df['Time'] - pd.to_timedelta(df['Time'].dt.days, unit='d')
    df['Date_Time'] = df['Date'] + df['Time']
    df = df.drop(['Time', 'Date'], 1)
    return df

In [ ]:
# def cleaningDataFrame_wind(df):
#     df.rename(columns = {'WindSpeed(mph)':'WindSpeed_mph', 'WindDirection(Degrees)':'WindDirection_degrees',   'WindDirection(Compass)':'WindDirection_compass', 'WindGust(mph)':'WindGust_mph'}, inplace = True)
#     df['WindSpeed_mph'] = df['WindSpeed_mph'].astype(int)
#     df['WindDirection_degrees'] = df['WindDirection_degrees'].astype(int)
#     df['WindGust_mph'] = df['WindGust_mph'].astype(int)
#     df = df.drop(df.index[0])
#     return df

In [40]:
def cleaningDataFrame_solar(df):
    df.rename(columns = {'temperature(F)':'temperature_F', 'cloudcover(%)':'cloudcover_percentage'}, inplace = True)
    df['temperature_F'] = df['temperature_F'].astype(int)
    df['cloudcover_percentage'] = df['cloudcover_percentage'].astype(int)
    df['uvIndex'] = df['uvIndex'].astype(int)
    df['weatherDescription'] = df['weatherDescription'].astype(str)
    df['humidity'] = df['humidity'].astype(int)
    df = df.drop(df.index[0])
    return df

In [87]:
cleanDF = cleaningDataFrame_datetime(hourlyWeatherDF)
cleanDF.head()

,temperature(F),cloudcover(%),uvIndex,weatherDescription,humidity,Date_Time
0,43,0,1,Clear,88,2019-01-01 00:00:00
1,43,0,1,Clear,88,2019-01-01 01:00:00
2,43,0,1,Clear,88,2019-01-01 02:00:00
3,43,0,1,Clear,88,2019-01-01 03:00:00
4,43,0,1,Clear,88,2019-01-01 04:00:00

In [88]:
solarDF = cleaningDataFrame_solar(cleanDF)
solarDF.head()

,temperature_F,cloudcover_percentage,uvIndex,weatherDescription,humidity,Date_Time
1,43,0,1,Clear,88,2019-01-01 01:00:00
2,43,0,1,Clear,88,2019-01-01 02:00:00
3,43,0,1,Clear,88,2019-01-01 03:00:00
4,43,0,1,Clear,88,2019-01-01 04:00:00
5,43,0,1,Clear,88,2019-01-01 05:00:00

In [81]:
solarDF.tail()

,temperature_F,cloudcover_percentage,uvIndex,weatherDescription,humidity,Date_Time
13123,79,73,1,Partly cloudy,89,2020-07-31 19:00:00
13124,79,73,1,Partly cloudy,89,2020-07-31 20:00:00
13125,79,73,1,Partly cloudy,89,2020-07-31 21:00:00
13126,79,73,1,Partly cloudy,89,2020-07-31 22:00:00
13127,79,73,1,Partly cloudy,89,2020-07-31 23:00:00

In [43]:
solarDF.dtypes

temperature_F                     int32
cloudcover_percentage             int32
uvIndex                           int32
weatherDescription               object
humidity                          int32
Date_Time                datetime64[ns]
dtype: object

In [ ]:
#windDF.to_csv(r'Output/weather_wind.csv', index = False)

# Importing and Performing ETL on Hackberry Wind Energy Data

In [44]:
data = "Resources/Webberville Gen Data.csv"
Webberville_df = pd.read_csv(data)
Webberville_df

                Unit      Date Hour Ending  MWH
0      WEBBER_S_WSP1  20190101         100  0.0
1      WEBBER_S_WSP1  20190101         200  0.0
2      WEBBER_S_WSP1  20190101         300  0.0
3      WEBBER_S_WSP1  20190101         400  0.0
4      WEBBER_S_WSP1  20190101         500  0.0
...              ...       ...         ...  ...
13866  WEBBER_S_WSP1  20200731        2000  0.0
13867  WEBBER_S_WSP1  20200731        2100  0.0
13868  WEBBER_S_WSP1  20200731        2200  0.0
13869  WEBBER_S_WSP1  20200731        2300  0.0
13870  WEBBER_S_WSP1  20200731        2400  0.0

[13871 rows x 4 columns]

In [45]:
def cleanRenewableFarmData(df):
    '''
    This function cleans the raw farm data.
    '''
    df = df.drop('Unit', 1)
    df.rename(columns = {'Hour Ending':'Hour'}, inplace = True)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
    df['Hour'] = df['Hour'].astype(str).str[:-2].astype(np.int64)
    df['hour'] = pd.to_timedelta(df['Hour'], unit='h')
    df['hour'] = df['hour'] - pd.to_timedelta(df['hour'].dt.days, unit='d')
    df = df.drop('Hour', 1)
    df = df[["Date", "hour", "MWH"]]
    df['Date_Time'] = df['Date'] + df['hour']
    df = df[["Date_Time", "MWH"]]
    return df

In [46]:
cleanedSolarDF = cleanRenewableFarmData(Webberville_df)
cleanedSolarDF.head()

            Date_Time  MWH
0 2019-01-01 01:00:00  0.0
1 2019-01-01 02:00:00  0.0
2 2019-01-01 03:00:00  0.0
3 2019-01-01 04:00:00  0.0
4 2019-01-01 05:00:00  0.0

In [47]:
cleanedSolarDF.dtypes

Date_Time    datetime64[ns]
MWH                 float64
dtype: object

In [48]:
# Webberville_df['Unit'].value_counts()

WEBBER_S_WSP1    13871
Name: Unit, dtype: int64

In [67]:
# # Dropping Unit Column
# Webberville_df = Webberville_df.drop('Unit', 1)

In [50]:
# # Renaming column name from 'Hour Ending' to 'Hour'
# Webberville_df.rename(columns = {'Hour Ending':'Hour'}, inplace = True)

In [51]:
# # Converting Date to datetime
# Webberville_df['Date'] = pd.to_datetime(Webberville_df['Date'], format='%Y%m%d')

In [52]:
# # Checking data type
# Webberville_df.dtypes

Date    datetime64[ns]
Hour            object
MWH            float64
dtype: object

In [53]:
Webberville_df

            Date  Hour  MWH
0     2019-01-01   100  0.0
1     2019-01-01   200  0.0
2     2019-01-01   300  0.0
3     2019-01-01   400  0.0
4     2019-01-01   500  0.0
...          ...   ...  ...
13866 2020-07-31  2000  0.0
13867 2020-07-31  2100  0.0
13868 2020-07-31  2200  0.0
13869 2020-07-31  2300  0.0
13870 2020-07-31  2400  0.0

[13871 rows x 3 columns]

In [54]:
# Removing the last two characters from the hour column as the times are hourly
Webberville_df['Hour'] = Webberville_df['Hour'].astype(str).str[:-2].astype(np.int64)

In [55]:
# Checking Hour data type
Webberville_df.dtypes

Date    datetime64[ns]
Hour             int64
MWH            float64
dtype: object

In [56]:
Webberville_df['hour'] =pd.to_timedelta(Webberville_df['Hour'], unit='h')

In [57]:
# Creating new column called 'hour' in timedelta format without date
Webberville_df['hour'] = Webberville_df['hour'] - pd.to_timedelta(Webberville_df['hour'].dt.days, unit='d')

In [58]:
# Dropping the original 'Hour' column
Webberville_df = Webberville_df.drop('Hour', 1)

In [59]:
# Re-arranging the column headers
Webberville_df = Webberville_df[["Date", "hour", "MWH"]]

In [60]:
Webberville_df.dtypes

Date     datetime64[ns]
hour    timedelta64[ns]
MWH             float64
dtype: object

In [61]:
# Combining Date and hour to a single column as they are in datetime and timedelta formats
Webberville_df['time'] = Webberville_df['Date'] + Webberville_df['hour']

In [62]:
# Re-arranging the column headers and removing the Date and hour columns
Webberville_df = Webberville_df[["time", "MWH"]]

In [63]:
Webberville_df.dtypes

time    datetime64[ns]
MWH            float64
dtype: object

In [ ]:
# Hackberry_df.copy()

In [ ]:
# # Removing rows to include only 2019 year data to include same time range as wind data
# Hackberry2019 = Webberville_df.drop(Hackberry_df.index[8759:13871])

In [ ]:
# Hackberry2019.to_csv(r'Output/Hackberry_MHW.csv', index = False)

## Merging Hackberry Energy Data with Wind Data

In [89]:
WebbervilleSolarMWH = pd.merge(hourlyWeatherDF, cleanedSolarDF, on='Date_Time', how='outer')

In [90]:
WebbervilleSolarMWH

,Date,Time,temperature(F),cloudcover(%),uvIndex,weatherDescription,humidity,Date_Time,MWH
0,2019-01-01,00:00:00,43,0,1,Clear,88,2019-01-01 00:00:00,0.0
1,2019-01-01,01:00:00,43,0,1,Clear,88,2019-01-01 01:00:00,0.0
2,2019-01-01,02:00:00,43,0,1,Clear,88,2019-01-01 02:00:00,0.0
3,2019-01-01,03:00:00,43,0,1,Clear,88,2019-01-01 03:00:00,0.0
4,2019-01-01,04:00:00,43,0,1,Clear,88,2019-01-01 04:00:00,0.0
...,...,...,...,...,...,...,...,...,...
13868,2020-07-31,19:00:00,79,73,1,Partly cloudy,89,2020-07-31 19:00:00,0.0
13869,2020-07-31,20:00:00,79,73,1,Partly cloudy,89,2020-07-31 20:00:00,0.0
13870,2020-07-31,21:00:00,79,73,1,Partly cloudy,89,2020-07-31 21:00:00,0.0
13871,2020-07-31,22:00:00,79,73,1,Partly cloudy,89,2020-07-31 22:00:00,0.0
13872,2020-07-31,23:00:00,79,73,1,Partly cloudy,89,2020-07-31 23:00:00,0.0

In [ ]:
# WebbervilleSolarMWH =WebbervilleSolarMWH.drop(WebbervilleSolarMWH.index[8760])

In [ ]:
WebbervilleSolarMWH.to_csv(r'Output/Webberville_Solar_MWH.csv', index = False)

In [ ]:
hackberryWindMWH.copy()

## Linear Regression

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [ ]:
# Visually inspect the data
plt.scatter(hackberryWindMWH.WindSpeed_mph, hackberryWindMWH.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MHW')
plt.show()

In [ ]:
# Visually inspect the data
plt.scatter(hackberryWindMWH.WindDirection_degrees, hackberryWindMWH.MWH)
plt.xlabel('Wind Direction')
plt.ylabel('MHW')
plt.show()

In [ ]:
# Visually inspect the data
plt.scatter(hackberryWindMWH.WindGust_mph, hackberryWindMWH.MWH)
plt.xlabel('Wind Gust')
plt.ylabel('MHW')
plt.show()

##  It can be concluded that linear regression on wind speed alone does not track the power generated.  Direction of wind needs to be included.

In [ ]:
# Creating dataframe with wind direction blowing east
windEast = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'E']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing east.
plt.scatter(windEast.WindSpeed_mph, windEast.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Creating dataframe with wind direction blowing West
windWest = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'W']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing West.
plt.scatter(windWest.WindSpeed_mph, windWest.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Creating dataframe with wind direction blowing south
windSouth = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'S']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing South.
plt.scatter(windSouth.WindSpeed_mph, windSouth.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Creating dataframe with wind direction blowing North
windNorth = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'N']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing North.
plt.scatter(windNorth.WindSpeed_mph, windNorth.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Creating dataframe with wind direction blowing NE
windNE = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'NE']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing NE.
plt.scatter(windNE.WindSpeed_mph, windNE.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Creating dataframe with wind direction blowing NW
windNW = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'NW']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing NW.
plt.scatter(windNW.WindSpeed_mph, windNW.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Creating dataframe with wind direction blowing NNE
windNNE = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'NNE']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing NNE.
plt.scatter(windNNE.WindSpeed_mph, windNNE.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Creating dataframe with wind direction blowing NNW
windNNW = hackberryWindMWH[hackberryWindMWH.WindDirection_compass == 'NNW']

In [ ]:
# Visually inspect the data of wind speed to MWH for winds blowing NNW.
plt.scatter(windNNW.WindSpeed_mph, windNNW.MWH)
plt.xlabel('Wind Speed')
plt.ylabel('MWH')
plt.show()

In [ ]:
# Converting wind direction into 0, 1.
hackberryWindMWH_Encoded = pd.get_dummies(hackberryWindMWH, columns=["WindDirection_compass"])

In [ ]:
hackberryWindMWH_Encoded